* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    position: relative;
    height: 100vh;
}

header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* margin: 0 10px 0 10px; */
    
}

nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin: 0 0 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

li a {
    cursor: pointer;
    margin: 0 12px 0 12px;
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}

#buscador {
    width: 60rem;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #b4b4b4;
    background-color: rgba(194, 190, 190, 0.977);
    font-size: 1.1rem;


}

main {
    width: 100%;
}

.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    justify-content: center;
}

.column-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-grid_img {
    border-radius: 30px;
    margin: 10px 0;
}
.column-grid_img:hover {
    filter: brightness(25%);
}

.column-grid_img:hover ~ .button-img {
    display: block;
}

.button-img {
    display: block;
}

.column-grid_container{
    width: 100%;
    position: relative;
}

.button-img {
    display: none;
    margin: 0;
    position: absolute;
    padding: 10px 10px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color:  white;
}

.button-username {
    top: 20px;
    left: 15px;
}

.button-save {
    background-color: red;
    font-size: large;
    border-radius: 15px;
    top: 20px;
    right: 20px;
}

.button-shared {
    border-radius: 50%;
    background-color: gainsboro;
    bottom: 20px;
    right: 60px;
}

.button-options {
    border-radius: 50%;
    background-color: gainsboro;
    bottom: 20px;
    right: 10px;
}
