* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    position: relative;
    height: 100vh;
}

header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* margin: 0 10px 0 10px; */
    
}

nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin: 0 0 10px 0;
}

#icono-pinterest:hover {
    border: 1px solid rgb(167, 167, 165);
    box-shadow: 0 2px 6px 0 rgb(167, 167, 165);
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

li a {
    cursor: pointer;
    margin: 0 12px 0 12px;
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}

.links:hover {
    box-shadow: 3px 2px 6px 3px rgb(147, 143, 143);
    background-color: rgb(193, 198, 198);
    color: white;
}

#buscador {
    width: 60rem;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #b4b4b4;
    background-color: rgba(194, 190, 190, 0.977);
    font-size: 1.1rem;
}

.icono:hover {
    border: 1px solid rgb(167, 167, 165);
    box-shadow: 0 2px 6px 0 rgb(167, 167, 165);
}

main {
    width: 100%;
}

.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    justify-content: center;
}

.column-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-grid_img {
    border-radius: 25px;
    margin: 10px;
    filter: brightness(80%);

}

.button-container {
    border-radius: 25px;
    z-index: 2;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.477);
}
/* Aqui comienza con el Hover */

.column-grid_img:hover ~ .button-container {
    display: block;
}

.column-grid_img:hover{
    filter: brightness(25%);
}


.button-container:hover {
    display: block;
}

.button-container:hover ~ .column-grid_img {
    filter: brightness(50%);
}



.column-grid_container{
    width: 100%;
    position: relative;
}

.button-img {
    margin: 0;
    position: absolute;
    padding: 10px 10px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color:  white;
}

.button-username {
    top: 20px;
    left: 35px;
}

.button-save {
    background-color: red;
    font-size: large;
    border-radius: 15px;
    top: 20px;
    right: 40px;
}

.button-shared {
    border-radius: 50%;
    background-color: gainsboro;
    bottom: 30px;
    right: 100px;
}

.button-options {
    border-radius: 50%;
    background-color: gainsboro;
    bottom: 30px;
    right: 40px;
}

@media (max-width: 375px) {
    .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    }
}